# Mailmap for git contributors dzil plugin (shown on CPAN)
# Emails from CPAN if possible, to have links to profiles on metacpan

Stefan Geneshky <minimal@cpan.org> Stefan Geneshky <sge@pobox.com>
Stefan Geneshky <minimal@cpan.org> Stefan G. <stefanguen@gmail.com>
Stefan Geneshky <minimal@cpan.org> Stefan G <sge@pobox.com>
Stefan Geneshky <minimal@cpan.org> Stefan G <stefanguen@gmail.com>
Stefan Geneshky <minimal@cpan.org> Stefan G <sge@ifnx.com>
Stefan Geneshky <minimal@cpan.org> Stefan G6Y <stefanguen@gmail.com>
Stefan Geneshky <minimal@cpan.org> Stefan Geneshky <stefan.geneshky@capitalone.com>
Stefan Geneshky <minimal@cpan.org> Stefan Geneshky <stefanguen@gmail.com>
Stefan Geneshky <minimal@cpan.org> Sefan G <sefanguen@gmail.com>
Stefan Geneshky <minimal@cpan.org> minimalist <minimalist@lavabit.com>

Bartosz Jarzyna <bbrtj.pro@gmail.com> bbrtj <bbrtj.pro@gmail.com>
Bartosz Jarzyna <bbrtj.pro@gmail.com> brtastic <brtastic.dev@gmail.com>
Bartosz Jarzyna <bbrtj.pro@gmail.com> Bartosz Jarzyna <44323413+bbrtj@users.noreply.github.com>
Bartosz Jarzyna <bbrtj.pro@gmail.com> brtastic <44323413+brtastic@users.noreply.github.com>

Konstantin Yakunin <yakunink@cpan.org> Konstantin Yakunin <twinhooker@gmail.com>
Konstantin Yakunin <yakunink@cpan.org> Konstantin Yakunin <k.yakunin@internest.ru>
Konstantin Yakunin <yakunink@cpan.org> Konstantin Yakunin <yakunink@users.noreply.github.com>

Ivan Baidakou <dmol@cpan.org> Ivan Baidakou <basiliscos@openmailbox.com>

Maurice Aubrey <maurice@cpan.org> Maurice Aubrey <maurice.aubrey@gmail.com>

Николай Мишин <mishin@cpan.org> Nikolay Mishin <mi@ya.ru>

Sergiy Borodych <bor@cpan.org> Sergiy Borodych <Sergiy.Borodych@gmail.com>

Gurunandan Bhat <grbhat@cpan.org> Gurunandan R. Bhat <gbhat@pobox.com>

Julio Fraire Domínguez <jfraire@cpan.org> Julio Fraire <julio.fraire@gmail.com>

